{% extends "bootstrap/base.html" %}

{% block title %}
Guest Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index')}}"><img src="static/newsjpg.jpg" alt="ONP" style="height: 30px; width: 34px; display: inline-block; margin-right: 8px ; ">
   <span style="display: inline-block;">Online News Portal</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('guest')}}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">


     
          <div class = "all-news">
            <h2 class="sub-header">ALL NEWS</h2>
              {% for news,desc,i,url in context %}
              <img src="{{i}}" width="500" height="200" alt ="">
              <h3>News: </h3> {{news}}
              <h4>Description: </h4> {{desc}} <br>
              <a href ="{{url}}">LINK</a>
              <hr>
              {% endfor %}
          </div>
        </div>
<!--      </div>-->
<!--    </div>-->
{% endblock %}